html {
    box-sizing: border-box;
    margin: auto;
    background: #1c2333;
    color: white;
}


header, footer {
    background: #0e1525;
}

header > .header-inner {
    width: 1200px;
    max-width: 100%;
    padding: 1.5rem 2rem;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-gap: 1rem 3rem;
    flex-wrap: wrap;
    
}

header h1 {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: flex;
    grid-gap: 1rem;
    flex-wrap: wrap;
}

.navbar-brand span:hover a {
    text-decoration: underline;
}

.navbar-brand a {
    background: #162f68;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    color: white;
    font-weight: normal;
}


* {
    font-family: 'Source Serif 4', serif;
    font-weight: 500;
    box-sizing: border-box;
}

p:last-child {
    margin-bottom: 0px;
}
p:first-child {
    margin-top: 0px;
}

main h2 {
    margin-top: 0;
}

img {
    max-width: 100%;
}

footer {
    display: flex;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}


.form-wrapper {
    display: flex;
    justify-content: center;
}
.form {
    padding: 2rem;
    border-radius: 6px;
    max-width: 100%;
    width: 25rem;
    margin:1rem;
    background: #2b3245;;
}

.form input[type="text"], .form input[type="password"] {
    width: 100%;
    border: 1px solid gray;
    background: #f0f0f0;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    margin-top: 0.2rem;
}

.form [type="submit"], button.is-primary {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.form [type="submit"]:hover, button.is-primary:hover {
    background: #ccc;
}

main {
    flex-grow: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 1200px;
    max-width: 100%;
    padding: 0 2rem;
    margin: 2rem auto;
}
.flashed_messages {
    list-style-type: none;
    padding:0;
    text-align: center;
    color: red;
}


/* Center the loader */
#loader {
position: absolute;
left: 50%;
top: 50%;
z-index: 1;
width: 120px;
height: 120px;
margin: -76px 0 0 -76px;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
from{ bottom:-100px; opacity:0 } 
to{ bottom:0; opacity:1 }
}

#myDiv {
display: none;
text-align: center;
}


div.leaflet-control-layers, div.leaflet-bar a, .leaflet-container .leaflet-control-attribution {
    background: #1c2333 !important;
    color: white;
}

div.leaflet-bar a:hover {
    background: #2d3c5d;
}

.leaflet-container .leaflet-control-attribution a {
    color: #888888;
}

.resultList {
    padding: 2em;
}

.resultList-item p {
    margin: .5rem 0;
    margin-left: 1.5em;
}

.resultList-item a {
    text-decoration: none;
}

.resultList-item a:hover {
    text-decoration: underline;
}

.resultList .colorCircle {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 100px;
    flex-shrink: 0;
}

.resultList .first-line {
        display: flex;
        grid-gap: 0.5rem;
        align-items: center;
}

.resultList .second-line {
    margin-left: 1.5em;
}

.resultList h3, .resultList h4 {
    padding: 0;
    margin: 0;
}

@media (max-width: 700px) {
    .resultList {
        padding: 1em 0;
    }
}

.resultList > div {
    margin-top: 0.5em 0;
    padding: 0.5em;
    word-wrap: break-word;
}

.resultList-item:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255, .2);
}

.leaflet-popup-content {
    word-wrap: break-word;
}