{% extends "base.html" %}
{% block title %}Persistent Search{% endblock %}
{% block content %}
<div class="form-wrapper">
    <div class="form">

<h2 class="title">Query</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashed_messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


 <form action="" method="post">

    <div class="field">
        <label for="queryname" class="label">Query Name</label>
        <div class="control">
            {{ form.searchtermsAny(autofocus=True, class='input') }}
        </div>
        {% for error in form.searchtermsAny.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>

    <div class="field">
        <label for="searchtermsAny" class="label">Match Any of These Terms</label>
        <div class="control">
            {{ form.searchtermsAny(autofocus=True, class='input') }}
        </div>
        {% for error in form.searchtermsAny.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>

    <div class="field">
        <label for="searchtermsAll" class="label">Match All of These Terms</label>
        <div class="control">
            {{ form.searchtermsAll(autofocus=True, class='input') }}
        </div>
        {% for error in form.searchtermsAll.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary is-small">Submit</button>
        </div>
    </div>
</form>
</div>
</div>

{% endblock %}