<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrape-Visualize - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='moody-world.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body onload="myFunction()" style="margin:0;">


      <header>
        <div class="header-inner">
          <h1>Moody World</h1>
          <div style="flex-grow:1"></div>
          <nav class="navbar" aria-label="main-navigation">
            <div class="navbar-brand">
              <span class="navbar-item">
                <a class="button is-link" href="{{ url_for('home') }}">← Return to Home</a>
              </span>
            </div>
          </nav>
          <!--div>
            {% if current_user.is_anonymous %}
              <p>Logged Out</p>
            {% else %}
              <p>Logged in as: {{ current_user.username}}</p>
            {% endif %}
          </div-->
        </div>
      </header>
    
    

    <main>
        <div id="loader"></div>
            <!-- <div style="display:none;" id="myDiv" class="animate-bottom">
                <h2>Processing of results completed!</h2>
                <p>Please wait while we load the results page..</p>
            </div> -->

        <script>
            var myVar;

            function myFunction() {
            // myVar = setTimeout(showPage, 3000);
            }

            function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
            }

            // function navigate() {
            //     window.location.href = 'results';
            // }
            // fetch('processing').then(navigate);

            var request = new XMLHttpRequest();
            request.open('POST', '/processing');

            request.onload = function() {
              if (request.status === 200 && request.responseText === 'Done') {
                // long process finished successfully, redirect user
                window.location = '/results';
              } else {
                // ops, we got an error from the server
                window.location = '/processing';
              }
            }

            request.send();
        </script>
    </main>

    <footer class="footer">
        <div class="content">
          <small>&copy; 2023, David Castle</small>
        </div>
    </footer>
</body>
</html>

