{% extends "base.html" %}
{% block title %}Twitter{% endblock %}
{% block content %}

<h1 class="title">Query</h1>

 <form action="" method="post">
    <!-- {{ form.csrf_token }} -->
    <!--
     <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
            {{ form.name(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.name.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>-->

    <div class="field">
        <label for="searchterms" class="label">Search Terms</label>
        <div class="control">
            {{ form.searchterms(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.searchterms.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <!--
    <div class="field">
        <label for="number_results" class="label">Number results</label>
        <div class="control">
            {{ form.number_results(class='input') }}
        </div>
        {% for error in form.number_results.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>-->

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary is-small">Submit</button>
        </div>
    </div>
</form>

{% endblock %}