{% extends "base.html" %}
{% block title %}Query{% endblock %}
{% block content %}
    <h1 class="title">Query</h1>

    <table class="table">
        <tr>
            <th>Name:</th>
            <td>{{ query.name }}</td>
        </tr>
        <tr>
            <th>Query type:</th>
            <td>{{ query.type }}</td>
        </tr>
        {% if query.hashtag %}
        <tr>
            <th>Hashtag:</th>
            <td>{{ query.hashtag }}</td>
        </tr>
        {% endif %}
        {% if query.number_results %}
        <tr>
            <th>Number results:</th>
            <td>{{ query.number_results }}</td>
        </tr>
        {% endif %}
    </table>

    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
        <div class="control">
            <a class="button is-primary is-outlined is-small" 
               href="{{ request.path }}/edit">Edit</a>
        </div>
    </div>
    {% endif %}
{% endblock%}